<!-- Header -->
<header id="header" class="alt">
    <h1 id="logo"><a href="index.html"><span>Tech</span> Leaderboard</a></h1>
    <nav id="nav">
        <ul>
            <li class="current"><a href="index.html">Welcome</a></li>
            <li class="submenu">
                <a href="#">Info</a>
                <ul>
                    <li><a href="index.html#main">About</a></li>
                    <li><a href="leads.html">Leads</a></li>
                    <li><a href="index.html#cta">Join Us</a></li>
                    <li><a href="index.html#contact">Contact</a></li>
                </ul>
            </li>
            <li><a href="index.html#cta" class="button special">Sign Up</a></li>
        </ul>
    </nav>
</header>