<header class="special container">
        <span class="icon fa-bar-chart-o"></span>
        <h2>Technology <br />
            is shaping our relationships, our daily lives, and our democracy, 
            <br />
            making it more imperative than ever to ensure that a diverse set of perspectives and experiences are shaping 
            <br />
            technology.
        </h2>
        <p>Studies suggest that diverse teams develop more radical innovations, introduce more new products, and create more valuable inventions-- making ethnic and gender diversity a priority from an economic and business culture perspective.</p>
    </header>

    <!-- One -->
        <section class="wrapper style2 container special-alt">
            <div class="row 50%">
                <div class="8u 12u(narrower)">

                    <header>
                        <h2>To promote transparency, companies are releasing independently-generated diversity statistics provided to the Equal Employment Opportunity Commission (EEOC).</h2>
                    </header>
                    <p>While useful, these releases suffer from a number of defects: they are high-level, they are voluntary, they are limited to the metrics of gender, race, and permanent employment, and most importantly - the overwhelming sense has been that they have failed to move the needle.</p>
                    <p>To address these issues, we are developing “leaderboards” or other indexes that show the diversity within companies, across fields, and, data permitting, across various points in the pipeline (not just full-time employment but also including, e.g. publications, education, VC funding, pipeline programs) to investors, customers, and potential employees.</p>
                    <footer>
                        <ul class="buttons">
                            <li><a href="https://docs.google.com/document/d/1dR9DxBuAUlwWOFPA1oD7cle0KtCY6oBRkHueR0i5gj4/edit?usp=sharing" target="blank" class="button">Find Out More</a></li>
                        </ul>
                    </footer>

                </div>
                <div class="4u 12u(narrower) important(narrower)">

                    <ul class="featured-icons">
                        <li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
                        <li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
                        <li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
                        <li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
                        <li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
                        <li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
                    </ul>

                </div>
            </div>
        </section>
         <!-- Two -->
         <section class="wrapper style1 container special">
                <h2>We Need <strong>Your</strong> Help</h2>
                   <div class="row">
                       <div class="4u 12u(narrower)">
       
                           <section>
                               <span class="icon featured fa-comments-o"></span>
                               <header>
                                   <h3>Insight</h3>
                               </header>
                               <p>Reactions, suggestions, possible use cases, knowledge of existing initiatives, adjacent projects and people.</p>
                           </section>
       
                       </div>
                       <div class="4u 12u(narrower)">
       
                           <section>
                               <span class="icon featured fa-users"></span>
                               <header>
                                   <h3>Collaborators</h3>
                               </header>
                               <p>Technical and non-technical, including in the ESG/reporting domain.</p>
                           </section>
       
                       </div>
                       <div class="4u 12u(narrower)">
       
                           <section>
                               <span class="icon featured fa-area-chart"></span>
                               <header>
                                   <h3>Test Cases</h3>
                               </header>
                               <p>What domains make the most sense for developing a test case?</p>
                           </section>
       
                       </div>
                   </div>

                   <footer class="major">
                        <ul class="buttons">
                            <li><a href="#cta" class="button">Join Us</a></li>
                        </ul>
                    </footer>
               </section>

    <!-- Three -->
        <section class="wrapper style3 container special">

            <header class="major">
                <h2>Diversity <strong>Innovation</strong> Action Plan</h2>
            </header>

            <div class="row">
                <div class="6u 12u(narrower)">

                    <section>
                        <a href="" class="image featured"><img src="https://images.unsplash.com/photo-1446776899648-aa78eefe8ed0?auto=format&fit=crop&w=1952&q=80" alt="" /></a>
                        <header>
                            <h3>Demographics</h3>
                        </header>
                        <p>Demographic data on innovators can be obtained by applying gender and ethnicity algorithms to names and addresses.</p>
                    </section>

                </div>
                <div class="6u 12u(narrower)">

                    <section>
                        <a href="" class="image featured"><img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?auto=format&fit=crop&w=1950&q=80" alt="" /></a>
                        <header>
                            <h3>Data Tracking</h3>
                        </header>
                        <p>Tracking innovations based on patents and publications. and would consider patent, investment (Crunchbase) LinkedIn, and arXiv records, as well as, to the extent available, upstream education records.</p>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="6u 12u(narrower)">

                    <section>
                        <a href="" class="image featured"><img src="https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?auto=format&fit=crop&w=1955&q=80" alt="" /></a>
                        <header>
                            <h3>Reporting</h3>
                        </header>
                        <p>Report on gender and ethnic diversity in an industry domain to be determined and a playbook for replicating and expanding the approach to other domains.</p>
                    </section>

                </div>
                <div class="6u 12u(narrower)">

                    <section>
                        <a href="" class="image featured"><img src="https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?auto=format&fit=crop&w=1950&q=80" alt="" /></a>
                        <header>
                            <h3>Accuracy & Transparency</h3>
                        </header>
                        <p>Our method reduces reliance on self-reported statistics and census or related sources of private, personal records that disclose gender and ethnicity and on proprietary or limited access methods and sources.</p>
                    </section>

                </div>
            </div>
        </section>
        