<!DOCTYPE HTML>
<html lang="en">
  {% include head.html %}
  <body class="index">
        <div id="page-wrapper">
            {% include header.html %}
            <!-- Banner -->
            <section id="banner">
                {% include banner.html %}
            </section>
            <!-- Main -->
			<article id="main">
                {% include main.html %}
            </article>
            <!-- CTA -->
			<section id="cta">
                {% include cta.html %}
            </section>
            <!-- Footer -->
			<footer id="footer">
                {% include footer.html %}
            </footer>
        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollgress.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
    </body>
</html>
