<!DOCTYPE HTML>
<html lang="en">
  {% include head.html %}
  <body class="index">
        <div id="page-wrapper">
            {% include header.html %}
            <!-- Banner -->
            <section id="banner">
                {% include banner.html %}
            </section>
            <!-- Main -->
			<article id="main">
                {% include main.html %}
            </article>
            <!-- CTA -->
			<section id="cta">
                {% include cta.html %}
            </section>
            <section id="contact">
                {% include contact.html %}
            </section>

            {% include footer.html %}
        </div>

        <!-- Scripts -->
        {% include scripts.html %}
    </body>
</html>
